
{% extends 'base.html.twig' %}

{% block content %}
        
   <div class="col-9">
            <div class="row">
     
                 {% for key, item in items %}
                        <div class="col-6">
                            <div class="item">
                                <div class='item-image'>
                                    <div class='item-media'>
                                        <div class="item-icon" style="background-image:url(https://wow.zamimg.com/images/wow/icons/large/<?php echo $item['image']?>.jpg)"></div>
                                    </div>
                                </div>
                                <div class="item-text">
                                    <div class="item-title">
                                    {{ item.name}}
                                    </div>
                                    <div class="item-sub">
                                         {{ item.entry}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
        
        </div>
    {% block page_contents %}{% endblock %}
{% endblock %}
